@import "tailwindcss";

@theme {
    --color-cinza-100: #F1F3F2;
    --color-cinza-800: #565455;
    --color-verde-main: #8EDB00;
    --color-verde-secundario: #317500;
    --color-laranja-claro: #FEE1A8;
    --color-azul-claro: #E0FEFD;
    --color-verde-claro: #E1FFA8;
    --color-status-pendente: #B88A00;
    --color-status-atraso: #DE3543;
    --color-status-texto-atraso: #5C0008;
    --color-status-futura: #007D8F;
}